* {
    font-family: $mainFont;
}

body {
    background-color: $main-white;
}

.header {
    height: 342px;
    background-color: #B4C9CA;
    padding-right: 0;
    padding-left: 0;
    overflow-x: hidden;
}

.container-xl-custom {
    padding-right: 0;
    padding-left: 0;
    position: relative;
    z-index: 10;
}

.container-xl-nav {
    z-index: 999;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3px;

    color: $black;
}

.navbar-nav .nav-item {
    text-align: center;
    margin-top: -1px;
    padding-bottom: 3px;
    padding: 0;
    margin-right: 23px;
    border-bottom: 1.6px solid #B4C9CA;

    &:hover {
        border-bottom: 1.6px solid $black;
    }
}

.navbar-nav .nav-item:nth-child(3) {
    margin-right: 22px;
}

.navbar-nav .nav-item:nth-child(4) {
    margin-right: 0;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
}

.navbar-brand {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    
    color: $black;

    &:hover {
        color: $black;
    }
}

.cyclist {
    position: absolute;
    width: 163px;
    top: 79px;
    transition: all 1.4s;
    right: -170px;
}

.cyclist-offset {
    right: 693px;
}

.main-title {
    display: block;
    margin-top: -77px;

    & > h1 {
        display: inline-block;
        font-style: normal;
        font-weight: 900;
        font-size: 108px;
        line-height: 154%;

        color: $black;
    }

    & > span {
        font-style: normal;
        font-weight: normal;
        font-size: 56px;
        line-height: 154%;
    }
}

.second-title {
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 154%;
    text-align: right;
    padding-right: 104px;
    margin-top: -9px;

    color: $black;
}

.great-items {
    padding-top: 139px;
}

.ul-items {
    list-style: none;
    padding: 0;
    color: $black;
    font-size: 16px;
    line-height: 150%;

    & li {
        display: inline-block;
        padding: 7px 65px 35px 0;
    }
}

.col-button {
    padding-left: 0;
}

.more-know {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
    padding: 16px 46px;

    background-color: $black;
    outline: none;
    border: 2px solid $black;
    color: $white;
    
    position: absolute;
    bottom: 51px;
    transition: all 0.7s;

    &:hover {
        border: 2px solid $black;
        background-color: $main-white;
        color: $black;
    }
}

.background-pink,
.background-pink-two  {
    background-color: $pink;
    position: absolute;
    width: 86%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.background-pink-two {
    width: 45%;
}

.new-service,
.new-product {
    margin-top: 56px;
    padding: 60px 0 45px;
    position: relative;

    & h2 {
        
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        line-height: 154%;
        padding-top: 13px;
        padding-left: 1px;

        color: $black;
    }

    & .new-product-text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        margin-top: 49px;
    }
}

.new-product {
    margin-top: 101px;
    padding-bottom: 0;
}

.new-service-items {
    padding: 39px 70px 25px 15px;
    color: $black;
    font-size: 16px;
    line-height: 150%;
    font-style: normal;

    & span {
        vertical-align: top;
        font-weight: 900;
        display: inline-block;
    }
    & div {
        padding-left: 17px;
        display: inline-block;
        width: 80%;
        font-weight: normal;
    }

    &:nth-child(2),
    &:nth-child(3) {
        & div {
            padding-left: 14px;
        }
    }
}

.nsi-custom {
    padding-left: 109px;
    padding-right: 0;
}

.button-container {
    padding: 5px 77px 0 109px
}
.poll {
    display: block;
    padding-top: 25px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;

    color: $black;
}

.button-poll {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
    background-color: $black;
    outline: none;
    border: 2px solid $black;
    color: $white;

    display: block;
    padding: 16px 0;
    width: 100%;
    transition: all 0.7s;
    margin: 3px 0;

    &:hover {
        border: 2px solid $black;
        background-color: $pink;
        color: $black;
        text-decoration: none;
    }
}

.go-link {
    color: $black;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $black;
    }
}

.br-show {
    display: none;
}

.navbar-toggler {
    outline: none;
}

.modal-body {
    max-width: 440px;
    padding: 0 0 39px;
    margin: 0 auto;

    & > p {
        padding-right: 10px;
        font-style: normal;
        font-size: 16px;
        line-height: 23px;
        color: $black;
        margin-bottom: 11px;
    
        & strong {
            font-weight: 600;
        }
    }
    
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    border: 0;

    & .close {
        padding-top: 13px;
        padding-right: 19px;
    }
}

label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 0;

    color: $black;
}

.form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #dfe1de;
    font-weight: 500;
    font-size: 16px;
    
    &:focus {
        outline: none;
    }
}

.form-group {
    margin-bottom: 20px;
}

.modal-form {
    margin-top: 20px;
}

.checking {
    width: 20px;
    height: 20px;
    background-color: #dfe1de;
    display: inline-block;
    transition: 0.7s all;
    margin-top: 4px;

    &:hover {
        cursor: pointer;
    }
}

.form-check {
    padding-left: 0;
}

.form-check-label {
    vertical-align: top;
    padding-top: 5px;
    padding-left: 4px;

    &:hover {
        cursor: pointer;
    }
}

.button-poll-form {
    border: 2px solid $black;
    font-size: 16px;
    margin-top: 40px;

    &:hover {
        border: 2px solid $black;
        background-color: $white;
        color: $black;
    }
}

.checking[data-checked="true"]{
    background: url(../img/ok.svg);
    background-size: cover;
}

.error {
    color: red !important;
    font-size: 12px;
}

.er-name,
.er-email,
.er-email-rg,
.er-ok {
    display: none;
}

.br-show-m {
    display: inline;
}

.close-button {
    display: none;
}

.couriers-says {
    padding-top: 97px;
    color: $black;

    & h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        line-height: 154%;
        padding-top: 13px;
        padding-left: 1px;
    }
}

.your-opinion {
    padding-top: 85px;
    color: $black;

    & h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        line-height: 154%;
        padding-top: 13px;
        padding-left: 1px;
    }

    & .sub-title {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;

        &:nth-of-type(1) {
            margin-top: 48px;
        }
    }
}

.couriers-says-col {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    padding-top: 40px;

    &:nth-child(2) {
        padding-left: 0;
    }
}

.wrapper-carousel{
    width: 100%;
    padding-top: 37px;
    
    &  .carousel{
        width: 95%;
        margin-left: 5%;
      }
}
 
.slick-slide{
    margin:10px;
}

.slick-slide img{
    width:100%;
    border: 2px solid black;
}

.slider-buttons {
    display: flex !important;
}

.slider-buttons,
.slider-buttons-mobile {
    justify-content: flex-end;
    padding-right: 8px;
    align-items: flex-end;
}

.slick-disabled {
    & img {
        opacity: 0.3;

        &:hover {
            cursor: auto;

        }
    }
}

.slider-button {
    border: 0;
    outline: none;
    padding: 0 5px;
    
    & img {
        width: 34px;
        margin-bottom: -9px;
    }

    &:hover {
        cursor: pointer;
    }
}

.carousel-card {
    width: 480px !important;
    background-color: #B4C9CA;
    height: 280px;
    color: $black;
    padding: 36px;
    margin-right: -4px !important;
    margin-left: 8px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

    & div {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        text-align: left;
    }

    & h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        text-align: left;
        margin-bottom: 0;
    }
}

.slider {
    width: 650px;
    margin: 0 auto;

    & img {
        width: 200px;
        height: 200px;
    }
}

.contact-form {
    color: $black;
    margin-top: 43px;

    & > div:nth-child(2) {
        padding-left: 0;
    }

    & > div:nth-child(4) {
        padding-left: 0;
        display: flex;
        align-items: flex-end;
    }

    & input[type="text"] {
        background-color: inherit;
        width: 77%;
        padding-left: 0;
        font-weight: 600;
        padding-bottom: 8px;

        &:focus {
            outline: none;
        }
    }
}

.textarea-message {
    width: 480px;
    height: 148px;
    padding: 24px;
    margin-top: 57px;
    border: 1px solid #E6E6E6;
    border-radius: 0;
    background-color: inherit;
}

.button-poll-message {
    width: 190px;
    margin-bottom: 6px;

    &:hover {
        background-color: inherit;
    }
}

.new-product-col {
    color: $black;
    padding-bottom: 89px;

    &:nth-child(2) {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding-bottom: 0;

        & h3 {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
        }

        & .button-poll-message {
            width: 250px;
            margin-bottom: 0;
            margin-top: 18px;
        }
    }
}

.boy-on {
    display: block;
    width: 436px;
    position: absolute;
    top: -183px;
    right: 0;
}

.boy-on-two {
    display: none;
}

.footer {
    background-color: #313131;
    height: 148px;
    margin-top: 208px;
    overflow: hidden;
    position: relative;
}

.navbar-brand-footer {
    color: #fff;
    margin-top: 26px;
}

.accept-link {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-decoration: underline;
    margin-top: 31px;

    &:hover {
        color: #fff;
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.hover-text {
    font-style: normal;
    font-weight: 900;
    font-size: 108px;
    line-height: 154%;
    color: #FFFFFF;
    opacity: 0.05;
    position: absolute;
    bottom: -66px;
    right: -27px;
    z-index: 999;
    pointer-events: none;
}

.er-name-mes,
.er-email-mes,
.er-email-rg-mes,
.er-mes {
    display: none;
}

#agreement {

    & .modal-dialog {
        max-width: 985px;
        height: 900px !important;

        & .modal-content {
            max-height: 900px;
        }
    }

    & .modal-header {
         justify-content: flex-end;
    }

    & .modal-body {
        max-width: 100%;
        margin-left: 48px;
        margin-right: 20px;
        padding-bottom: 40px;

        & h2 {
            font-style: normal;
            font-weight: normal;
            font-size: 46px;
            line-height: 154%;
            margin-top: 8px;

            color: $black;
        }

    }

}

.close-big {
    width: 36px;
    margin: 7px 6px 0 0;

    &:hover {
        cursor: pointer;
    }
}

.content-agreement {
    margin-top: 38px;
    max-height: 585px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 4px;
    }
    
    &::-webkit-scrollbar-track {
       background: url(../img/scroll-back.png);
       background-size: 100%;
    }
    
    &::-webkit-scrollbar-thumb {
        width: 4px;
        border-radius: 99px;
        background: $black;
    }
    

    & p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: $black;
        max-width: 724px;
        margin-bottom: 12px;

        &.p-agreem-title {
            margin-top: 33px;

            &:first-of-type {
                margin-top: 10px;
            }
            
        }
    }

}

#modal-ok {

    & .modal-dialog {
        width: 372px;
        height: 308px;
    }

    & .modal-content {
        overflow: hidden;
        position: relative;

        & > img {
            position: absolute;
            left: -1px;
            bottom: 15px;
        }
    }

    & .modal-body {
        
        .modal-ok-title {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            margin-top: 11px;
            text-align: center;

            color: $black;
        }

        .modal-ok-text {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: $black;
            text-align: center;
            padding-right: 0 !important;
            margin-top: 24px;
        }

        & .button-poll-form {
            margin: 0 auto;
            margin-top: 54px;
            margin-bottom: 26px;
            width: 260px;
        }

    }
    
}

.modal-open {
    padding-right: 0px !important;
}