@media (min-width: 319px) and (max-width: 767.98px) {  
    .navbar {
        padding-top: 10px;
        position: initial;
    }

    .navbar-toggler {
        padding-top: 3px;
        padding-right: 0;
    }

    .main-title {
        margin-top: -69px;

        & > h1 {
            font-size: 36px;
            line-height: 116%;
        }

        & > span {
            font-size: 36px;
            line-height: 154%;
        }
    }

    .second-title {
        margin-top: 12px;
        font-size: 18px;
        line-height: 20%;
        text-align: left;
        padding-right: 0;
    }

    .navbar-brand {
        font-size: 16px;
        line-height: 20px;
    }

    .container-xl-custom {
        padding-left: 16px;
        padding-right: 16px;
    }

    .cyclist {
        width: 79px;
        top: 42px;
        right: -100px;    
    }

    .cyclist-offset {
        right: 39px; 
    }

    .br-show {
        display: block;
    }

    .header {
        height: 224px;
        overflow-x: hidden;
    }

    .br-show-m {
        display: none;
    }

    .ul-items {
        font-size: 12px;
        line-height: 150%;
        display: flex;
        flex-direction: column;

        & li {
            display: block;
            padding-right: 0;
            padding-bottom: 11px;

            &:nth-child(2) {
                padding-top: 3px;
            }
        }
    }

    .col-button {
        padding: 0 15px;
    }

    .great-items {
        padding-top: 51px;
    }

    .more-know {
        margin-top: 20px;
        position: inherit;
        bottom: inherit;
        font-size: 12px;
        line-height: 15px;
        padding: 15px 0;
        width: 100%;
    }

    .background-pink {
        width: 100%;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 2px 0 11px;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 150%;
    }

    .navbar-nav {
        margin-top: 49px;
    }

    .new-service {
        margin-top: 42px;
        padding: 48px 0 42px;

        & h2 {
            font-size: 24px;
            padding-top: 0;
            padding-left: 0;
        }
    }

    .new-service-items {
        padding: 13px 0 5px 15px;
        
        & span {
            font-size: 12px;
        }
        & div {
            min-width: 250px;
            font-size: 12px;
            line-height: 150%;
            padding-top: 3px;
        }

        &:nth-child(1) {
            & div {
                padding-left: 6px; 
            }
        }

        &:nth-child(2) {
            padding-top: 15px;

            & div {
                padding-left: 5px;
            }
        }

        &:nth-child(3) {
            padding-top: 15px;

            & div {
                padding-left: 5px;
            }
        }
    }

    .poll {
        font-size: 10px;
        font-weight: normal;
    }

    .button-container {
        padding: 37px 15px 0;
    }

    .button-poll {
        font-size: 12px;
        padding: 12px 0;
        margin: 14px 0 0;
    }
    
    #navbarCollapse {
        position: fixed;
        background-color: #E7D0CA;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        padding: 15px;
        z-index: 9999;
    }

    .navbar-nav .nav-item {
        text-align: left;
        border-bottom: 0;
    }

    .close-button {
        display: block;
        position: absolute;
        right: 21px;
        top: 18px;
    }

    .couriers-says {
        padding-top: 36px;

        & > div {
            padding-left: 0;
            padding-right: 0;
        }

        & h2 {
            font-size: 24px;
        }
    }

    .couriers-says-col {
        font-size: 12px;

        &:nth-child(1) {
            padding-top: 16px;
        }

        &:nth-child(2) {
            padding-top: 17px;
            padding-left: 16px;
        }
    }

    .wrapper-carousel{
        padding-top: 14px;
        
        &.carousel{
            width: 90%;
            margin: 0 auto;
        }
    }

    .carousel-card {
        max-width: 288px !important;
        padding: 16px;
        margin: 0;
        height: 182px;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;

        & div {
            font-size: 12px;
        }

        & h3 {
            font-size: 12px;
        }
    }

    .slider-buttons-mobile {
        display: flex !important;
        padding: 0 9px;
        justify-content: space-between;
        margin-top: -3px;
    }

    .slider-buttons {
        display: none !important;
    }

    .your-opinion {
        padding-top: 44px;
        color: $black;

        & > div {
            padding-left: 0;
            padding-right: 0;
        }
    
        & h2 {
            font-size: 24px;
        }
    
        & .sub-title {
            font-size: 12px;
    
            &:nth-of-type(1) {
                margin-top: 20px;
            }

            &:nth-of-type(2) {
                margin-top: 12px;
            }
        }
    }

    .contact-form {
        color: $black;
        margin-top: 26px;

        & label {
            font-size: 10px;
            font-weight: 500;
        }
    
        & > div:nth-child(2) {
            padding-left: 15px;
            margin-top: 18px;
        }
    
        & > div:nth-child(4) {
            padding-left: 15px;
            display: flex;
            align-items: flex-end;
        }
    
        & input[type="text"] {
            background-color: inherit;
            width: 100%;
            font-size: 12px;
            padding-left: 0;
            font-weight: 600;
            padding-bottom: 0;
            margin-top: -6px;
    
            &:focus {
                outline: none;
            }
        }
    }

    .textarea-message {
        width: 99.5%;
        height: 104px;
        margin-top: 24px;
        padding: 16px;
        font-size: 12px;
    }

    .button-poll-message {
        width: 100%;
        margin-bottom: 6px;
        margin-top: 17px;
    }

    .background-pink-two {
        width: 100%;
        height: 226px;
    }

    .new-product {
        margin-top: 42px;
        padding: 36px 0 171px;

        & h2 {
            font-size: 24px;
        }

        & .new-product-text {
            font-size: 12px;
            margin-top: 20px;
        }
    }

    .new-product-col {
    
        &:nth-child(2) {
            padding-left: 15px;
            padding-top: 7px;

            & h3 {
                font-size: 12px;
            }
    
            & .button-poll-message {
                width: 100%;
                margin-top: 16px;
            }
        }
    }

    .boy-on {
        display: none;
    }

    .boy-on-two {
        display: block;
        width: 131px;
        position: absolute;
        top: auto;
        bottom: 0px;
        right: 9px;
    }

    .footer {
        margin-top: 0;
        max-height: 136px;
    }

    .footer-container {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand-footer {
        display: block;
        margin-top: 19px;
    }

    .accept-link {
        display: inline-block;
        font-size: 10px;
        margin-top: 14px;
        text-decoration: none;
        border-bottom: 1px solid #fff;
    }

    .hover-text {
        font-size: 30px;
        right: -25px;
        bottom: -14px;
    }

    .modal-body {
        padding: 20px 20px 39px;
    }

    #agreement {

        & .modal-dialog {
            max-width: 100%;
            height: 100% !important;
    
            & .modal-content {
                max-height: 100%;
            }
        }

        & .modal-header {
            padding-bottom: 0;
        }
    
        & .modal-body {
            max-width: 100%;
            margin-left: 18px;
            margin-right: 10px;
            padding-bottom: 20px;
            padding-top: 0;
    
            & h2 {
                font-size: 18px;
    
                color: $black;
            }
    
        }
    
    }
    
    .close-big {
        width: 28px;
        margin: 7px 6px 0 0;
    
        &:hover {
            cursor: pointer;
        }
    }

    .content-agreement {
        max-height: 250px;
        margin-top: 8px;

        & p {
            font-size: 12px;
        }
    }

    #modal-ok {

        & .modal-dialog {
            width: 95%;
        }
    }
}
 
@media (min-width: 768px) and (max-width: 991.98px) {  
    .navbar {
        padding-top: 16px;
        position: initial;
    }

    .navbar-toggler {
        padding-top: 4px;
        padding-right: 0;
    }

    .main-title {
        margin-top: -42px;

        & > h1 {
            font-size: 64px;
            line-height: 116%;
        }

       
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 2px 0 11px;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 150%;
    }

    .second-title {
        font-size: 46px;
        line-height: 20%;
        text-align: left;
        padding-right: 0;
        padding-top: 43px;
    }

    .navbar-brand {
        font-size: 24px;
        line-height: 20px;
    }

    .container-xl-custom {
        padding-left: 40px;
        padding-right: 40px;
    }

    .cyclist {
        width: 123px;
        top: 69px;
        right: -150px;
    }

    .cyclist-offset {
        right: 359px;
    }

    .header {
        height: 294px;
    }

    .container-xl-custom-text {
        padding-right: 0;
    }

    .ul-items {
        margin-top: 75px;

        & li {
            padding-right: 0;
            padding-bottom: 36px;
            padding-right: 66px;
        }
    }

    .great-items {
        padding-top: 65px;
    }

    .col-button {
        display: flex;
        justify-content: flex-end;
        margin-top: -49px;
    }

    .more-know {
        width: 380px !important;
        position: inherit;
        font-size: 16px;
        line-height: 15px;
        padding: 18px 0;
        width: 100%;
    }

    .background-pink {
        width: 95%;
    }

    .nsi-custom {
        padding-top: 24px;
        padding-left: 15px;
    }

    .new-service {
        padding: 48px 0 62px;

        & h2 {
            padding-top: 25px;
        }
    }

    .couriers-says {
        padding-left: 0;
        padding-top: 105px;
    }

    .couriers-says-col:nth-of-type(2) {
        padding-left: 15px;
        padding-top: 25px;
    }

    .new-service-items:nth-of-type(3) {
        padding-top: 47px;
    }

    .button-container {
        display: flex;
        padding-left: 15px;
        margin-top: 44px;
        align-items: center;

        & span {
            max-width: 250px;
        }
    }

    .button-poll {
        max-width: 250px;
        padding: 16px 0;
        font-size: 16px;
        margin-top: 0;
        margin-left: 58px;
    }

    .new-service__items {
        padding: 15px 25px 5px 15px;
        
        & span {
            font-size: 12px;
        }
        & div {
            font-size: 12px;
        }
    }

    #navbarCollapse {
        position: fixed;
        background-color: #E7D0CA;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        padding: 45px;
    }

    .close-button {
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar-nav .nav-item {
        text-align: left;
        border-bottom: 0;
    }

    .slider-buttons-mobile {
        display: none;
    }

    .wrapper-carousel{
        padding-top: 37px;
        
        &.carousel{
            width: 90%;
            margin: 0 auto;
        }
    }

    .carousel-card {
        max-width: 480px !important;
        padding: 36px;
        margin: 0;
        height: 280px;
        margin-right: 7px !important;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;

        & div {
            font-size: 16px;
        }

        & h3 {
            font-size: 16px;
            margin-bottom: 0;
        }
    }

    .slider-buttons {
        align-items: center;
        padding-right: 0;
        margin-top: 15px;
    }

    .prev {
        padding-right: 18px;
    }

    .next {
        padding:0 0 0 12px;
    }

    .your-opinion {
        padding-top: 94px;
        color: $black;

        & > div {
            padding-left: 25px;
            padding-right: 25px;
        }
    
        & .sub-title {
            font-size: 16px;
    
            &:nth-of-type(1) {
                margin-top: 49px;
            }

            &:nth-of-type(2) {
                margin-top: 0;
            }
        }
    }

    .contact-form {
        color: $black;
        margin-top: 42px;

        & label {
            font-size: 12px;
            font-weight: 500;
        }
    
        & > div:nth-child(2) {
            padding-left: 11px;
        }
    
        & > div:nth-child(4) {
            padding-left: 15px;
            display: flex;
            align-items: flex-end;
        }
    
        & input[type="text"] {
            background-color: inherit;
            width: 100%;
            font-size: 16px;
            padding-left: 0;
            font-weight: 600;
            padding-bottom: 10px;
            margin-top: 2px;
    
            &:focus {
                outline: none;
            }
        }
    }

    .textarea-message {
        width: 100%;
        height: 148px;
        margin-top: 31px;
        padding: 24px;
        font-size: 16px;
    }

    .col-send-button-message {
        display: flex;
        justify-content: flex-end;
    }

    .button-poll-message {
        max-width: 100%;
        width: 380px;
        margin: 26px 0 6px;
    }

    .background-pink-two {
        width: 84.5%;
        height: 400px;
    }

    .new-product {
        margin-top: 111px;
        padding: 59px 0 199px;
        overflow: hidden;

        & .new-product-text {
            margin-top: 50px;
        }
    }

    .new-product-col {
    
        &:nth-child(2) {
            display: flex;
            flex-direction: row;
            padding-left: 15px;
            padding-top: 109px;
            align-items: flex-start;
            justify-content: flex-start;

            & h3 {
                width: 279px;
                margin-top: 20px;
            }
    
            & .button-poll-message {
                width: 250px;
                margin-top: 16px;
                margin-left: 30px;
            }
        }
    }

    .boy-on {
        display: block;
        width: 332px;
        right: -87px;
        top: 180px;
        z-index: 9;
    }

    .boy-on-two {
        display: none;
    }

    .footer {
        margin-top: 0;
        max-height: 148px;
    }

    .footer-container {
        display: flex;
        padding: 10px 24px 0;
        align-items: center;
    }

    .navbar-brand-footer {
        display: inline-block;
        margin-top: 19px;
    }

    .accept-link {
        display: inline-block;
        font-size: 13px;
        margin-top: 9px;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        padding-right: 2px;
    }

    .hover-text {
        font-size: 64px;
        right: -25px;
        bottom: -30px;
    }

    .modal-body {
        padding: 20px 20px 39px;
    }

    #agreement {

        & .modal-dialog {
            max-width: 90%;
            height: 600px !important;
    
            & .modal-content {
                max-height: 600px;
            }
        }
    
        & .modal-body {
            max-width: 100%;
            margin-left: 38px;
            margin-right: 10px;
            padding-bottom: 30px;
    
            & h2 {
                font-size: 36px;
    
                color: $black;
            }
    
        }
    
    }
    
    .close-big {
        width: 28px;
        margin: 7px 6px 0 0;
    
        &:hover {
            cursor: pointer;
        }
    }

    .content-agreement {
        max-height: 300px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .main-title {
        margin-top: -55px;

        & > h1 {
            font-size: 80px;
            line-height: 116%;
        }

        & > span {
            font-size: 34px;
            line-height: 154%;
        }
    }

    .second-title {
        font-size: 24px;
        line-height: 20%;
        text-align: right;
        padding-right: 70px;
        padding-top: 15px;
    }

    .navbar-brand {
        font-size: 16px;
        line-height: 20px;
    }

    .container-xl-custom {
        padding-left: 32px;
        padding-right: 32px;
    }

    .cyclist {
        width: 110px;
        top: 15px;
        right: 470px;    
    }

    .header {
        height: 224px;
    }

    .ul-items {
        & li {
            display: block;
            padding-right: 0;
            padding-bottom: 15px;
        }
    }

    .great-items {
        padding-top: 65px;
    }

    .more-know {
        font-size: 12px;
        line-height: 15px;
        padding: 18px 0;
        width: 100%;
    }

    .background-pink {
        width: 100%;
    }

    .new-service {
        padding: 48px 0;
        & h2 {
            font-size: 24px;
        }
    }

    .new-service__items {
        padding: 15px 25px 5px 15px;
        
        & span {
            font-size: 12px;
        }
        & div {
            font-size: 12px;
        }
    }

    .wrapper-carousel {
        max-width: 100%;
        padding-left: 47px;
        padding-right: 47px;

        & .carousel {
            width: 100%;
            margin-left: 0;
        }
    }

    .slick-slide:nth-of-type(1) {

        & .carousel-card {
            margin-left: 0;
        }
        
    }
}

@media (min-width: 1200px) and (max-width: 1439.98px){  
    .container-xl-custom {
        max-width: 1170px;
    }

    .main-title {

        & > h1 {
            font-size: 100px;
        }
    }

    .wrapper-carousel {
        max-width: 1170px;
        margin: 0 auto;

        & .carousel {
            width: 100%;
            margin-left: 0;
        }
    }

    .slick-slide:nth-of-type(1) {

        & .carousel-card {
            margin-left: 0;
        }
        
    }
}

@media (min-width: 1440px) {
    .container-xl-custom {
        max-width: 1280px;
    }

    .modal-dialog {
        max-width: 522px;
    }
}

@media (min-width: 1441px) {
    .wrapper-carousel {

        & .carousel {
            width: 100%;
            margin-left: 0;
        }
    }

    .slick-slide:nth-of-type(1) {

        & .carousel-card {
            margin-left: 0;
        }
        
    }
}